body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    margin-bottom: 20px;
}

#notificationsList {
    margin-top: 20px;
}

.list-group-item {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
